/*  your css code here. If applicable */


.book-library{
	background-color:#f8f8f8;
	margin-bottom:20px;
}
.book{
	background-color:rgb(46, 204, 113);
	margin-bottom:20px;
	text-align:center;
	width:600px;
	height:360px;
	
	
}
h1{
	background-color:#f8f8f8;
	margin-bottom:10px;
	text-align:center;
	padding:10px;
}
img{
	width:200px;
	height:250px;
	margin:auto;
	padding:10px;	
}
.price{
	background-color:#2ecc71;
	color:rgb(255, 255, 255);
	
	
}
.author{
	color:rgb(119,119,119);
	text-align:start;
	font-size:10px;
	margin-bottom:-10px;
	
}
.title{
	font-weight:bold;
	text-align:start;
	margin-bottom:-7px;
}





